body {
  font-family: 'Inconsolata', monospace;
}

.main-container {
  padding: 100px;
}

.content-container {
  padding: 120px;
  font-size: 12px;
  border: 2px dotted grey;
}

a {
  color: rgb(57, 56, 109);
}

a:visited {
  color: rgb(57, 56, 109);
  font-style: italic;
  text-decoration: none;
}
  
a:hover {
  font-style: italic;
  text-decoration: underline;
}